
*.h5xp
*.pxp
*.ibw
data/LarkumDataArchive/d010628a.dat/.HSancillary
data/LarkumDataArchive/d010628a.dat/.HSicon
*.rtf
*.DS_Store
data/LarkumDataArchive/d010626b.dat/.HSancillary
data/LarkumDataArchive
data/CA1dataAnes
submission files
